* {
    margin: 0;
    padding: 0;
    box-sizing: border-type;
}

body {
    background-color: beige;
}

.exchange-form {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    margin: 4rem;
}

.form-row {
    margin: 0.5rem;
}